.multi-color-border {
  transition: transform 1s ease, opacity 1s ease !important;
  padding: 3px;
  border-radius: 18px;
}

.static-border {
  padding: 3px;
}

.custom-button:hover {
  border: none !important;
}

.multi-color-border:hover {
  transform: scale(1.03);
  background: conic-gradient(
    from var(--a),
    rgb(219, 208, 2) 20%,
    rgb(0, 172, 249) 50%,
    rgb(219, 208, 2) 100%
  );
  animation: animate 10s linear infinite;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg;
  }

  100% {
    --a: 360deg;
  }
}
