.article-write {
  display: flex;
  flex-direction: column;

  margin: 10vw;
  margin-top: 15vh;
  padding: 40px;
}

.article-form {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.bi-plus-circle {
  font-size: 2rem;
  margin-right: 10px;
  color: #888;
}

.article-input,
.article-textarea {
  background-color: transparent;
  width: 100%;
  padding: 15px;
  border: none;
  font-size: var(--font-size-normal-font) !important;
  font-family: "Arial, sans-serif";
}

.title-input {
  font-size: var(--font-size-subheading) !important;
  font-weight: bold !important;
  border-left: 2px solid #ccc;
}

.article-textarea {
  resize: none;

  border-radius: 4px;
}

.submit-button {
  padding: 10px 20px;
  font-size: var(--font-size-normal-font);
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.markdown-preview {
  width: 100%;
  margin-top: 20px;
  /* max-width: 800px; */
  padding: 20px;
  min-height: 400px;
  overflow: scroll;
  /* background-color: #fff; */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Arial, sans-serif";
}
.markdown-preview h1 {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
