.articlehomepage-div {
  margin-top: 100px !important;
  padding: 20px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}
.Articlehead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create-article-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.article_link {
  text-decoration: none;
  color: #333;
}

.articles-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.author-section {
  display: flex;
}

.author-image {
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  margin-right: 15px;
}

.article-details {
  flex: 1;
}

.article-title {
  font-size: var(--font-size-heading);
  margin: 0;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.article-title a {
  font-weight: 800;
  text-decoration: none;
  color: var(--color-dark-background);
}

.article-author {
  font-size: var(--font-size-small-font);
  color: #555;
}

.article-date,
.read-time {
  font-size: var(--font-size-small-font);
  color: #777;
}

.article-description {
  font-weight: 600 !important;
  font-size: var(--font-size-normal-font);
  color: #666;
  margin: 10px 0 !important;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.meta-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.time-ago {
  font-size: var(--font-size-small-font);
  color: #777;
}

.icon-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-section img {
  width: 20px;
  height: 20px;
}
.bi-chat {
  color: #999;
}
.clap-count,
.comment-count {
  font-size: var(--font-size-small-font);
  color: #999;
}
.comment-icon,
.clap-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
