.card {
  position: relative;
}
.card_image {
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  height: 224px; /* default height */
  pointer-events: none;
}

/* .registration_color {
  background-color: black;
  color: white;
} */

@media (min-width: 768px) {
  .card_image {
    height: 224px; /* height for lg screens */
  }
}

@media (max-width: 767px) {
  .card_image {
    height: 224px; /* height for sl screens */
  }
}

@media (max-width: 425px) {
  .card_image {
    height: 224px;
  }
}
/* .registration_color {
  background-color: rgba(63, 196, 0, 0.5);
  border: 1px solid rgba(60, 60, 67, 0.2);
  color: black;
} */
/*
.btn-c:hover {
  background-color: rgb(0, 190, 0) !important;
  border-color: green !important; 
}
/* .registration_color {
  background-color: black !important;
} */
.registration_color {
  background-color: rgba(63, 196, 0, 0.5);
}
.btn-e {
  background-color: rgba(63, 196, 0, 0.5);
}
.tag {
  background-color: rgb(233, 255, 199) !important;
  border-radius: 100px !important;
  border: 1px solid green;
  color: #555 !important;
  transition: 200ms;
}
.tag:hover {
  cursor: pointer;
  background-color: rgb(201, 255, 121) !important;
}

.link-nothing {
  text-decoration: none !important;
}
.card-background {
  /* background: linear-gradient(109.6deg, rgb(223, 234, 247) 11.2%, rgb(244, 248, 252) 91.1%); */
  background: radial-gradient(
    621px at 25.3% 13.8%,
    rgb(255, 255, 255) 0%,
    rgb(234, 236, 255) 90%
  );
}
.btn-d {
  background-color: #ff204e !important;
  border-color: #ff204e !important;
}
.btn-d:hover {
  background-color: #ff4c70 !important;
  border-color: #ff204e !important;
  cursor: not-allowed !important;
}

.link-primary {
  display: inline;
  padding: 0px 10px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: smaller;
}

.link-primary a {
  color: white;
  text-decoration: none;
}
.card-description {
  font-weight: 400;
  font-size: 16px;
  margin-top: 16px;
  color: rgba(85, 85, 99, 1);
  margin-bottom: 0;
}

.card-time {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 600;
  color: rgba(60, 60, 67, 1);
  margin-top: 0;
}

.card.tag {
  color: black;
}
