.create-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.create-event-header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  margin-left: 20px;

}

.create-event-header h2 {
  margin-left: 20px;
  font-size: 30px;
  font-weight: bolder;
}

.create-event-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.left-section {
  flex: 2;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.publish-event, .upload-banner {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.publish-event Button {
  width: 100%;
  margin-bottom: 10px;
}

.upload-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-banner img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.create-event-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}
