.happy {
  text-align: center;
  color: white;
  margin: 50px 0px;
  font-weight: bold;
}
.box {
  background-color: white;
}

.card1:hover,.card3:hover,.card2:hover,.gardening:hover,.workshop:hover,.uiux:hover{
  scale: 1.05;
  transition: scale 1s;
}
  .uiux{
    position: absolute;
    right: 140px;
    opacity: 1;
    transform: none;
    top: 593px;
    z-index: 500;
    height: 25px;
    width: 70px;
  }
  .gardening{
    position: absolute;
    opacity: 1;
    transform: none;
    top: 630px !important;
    height: 25px;
    right: 217px;
  }
  @keyframes zindexanimation {
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }
  @media only screen and (max-width:506px) {
    
    .uiux{
    right: 90px;
    }
    .card3{
      right: 0px !important;
    }
    .card2{
      right: 210px !important;
    }
    .card1{
      width: 190px !important;
      height: 250px !important;
    }
    .workshop{
      width: 170px !important;
      height: 100px !important;
      top: 212px !important;
    }
  }
  @media only screen and ( max-width:555px) {
      .gardening{
        right: 167px;
  
      }
      .uiux{
      right: 90px;
      }
      .card3{
        right: 0px !important;
      }
      .card2{
        right: 216px !important;
      }
      .card1{
        right: 130px !important;
      }
      .workshop{
        right: 252px !important;
      }
  }
    
.carousel-item {
  transition: transform 1.5s ease, opacity 1.5s ease !important;
  padding: 20px;
}

.testimonial-card:hover {
  transform: scale(1.02);
  background: repeating-conic-gradient(
    from var(--a),
    rgb(255, 242, 0) 30%,
    rgb(255, 242, 0) 40%,
    rgb(0, 172, 249) 70%
  );
  animation: animate 1.5s linear infinite;
}
@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.testimonial-image {
  animation: none !important;
  transition: none !important;
}
.testimonial-image:hover {
  animation: none !important;
  transition: none !important;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  /* 100% {
    filter: hue-rotate(360deg);
  } */
}

.carousel-indicators {
  transform: translateY(4rem);
  gap: 1rem;
  margin: 0px 0px 0px 0px !important;
  width: 100% !important;
}
.carousel-indicators button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none !important;
}
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}
@media (max-width: 800) {
  .happy {
    margin: 60px 0px;
  }
}
/* testimonial.css */
.testimonial-card {
  max-width: 323;
  margin-bottom: 20px;
  height: 300px; /* Ensure all cards have the same height */
  background-color: white;
}

@media (max-width: 1240px) {
  .testimonial-card {
    height: 350px;
  }
}
@media (max-width: 1060px) {
  .testimonial-card {
    height: 440px;
  }
}
@media (max-width: 900px) {
  .testimonial-card {
    height: 350px;
  }
}
@media (max-width: 678px) {
  .testimonial-card {
    height: 350px;
  }
}

@media (max-width: 598px) {
  .testimonial-card {
    height: 250px;
  }
}
@media (max-width: 450px) {
  .testimonial-card {
    height: 400px;
  }
}
