.main-button {
  margin: 20px;
}

.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 10px;
}

.image-preview {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.iconedits {
  transform: translateY(-5px);
}
.iconeditsadd {
  transform: translateY(-8px);
}
.select-icon {
  height: 36px;
  transform: translateY(-5px);
}
.addIcon {
  width: 30px;
  transform: translateY(-5px);
}

.image-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
}
