:root {
  /* Colors */
  --color-light-background: #fcfcfc;
  --color-dark-background: #0f0f0f;
  --color-primary: #5ab2ff;
  --color-secondary-dark: #a0deff;
  --color-secondary-light: #caf4ff;
  --color-accent: #ffdd00;
  --color-white-card-outline: #9abac2;
  --color-bright-background: #ffffff;
  --color-textbox-outline: #bcc8cb;

  /* Border Radius */
  --border-radius-large: 1.25rem;
  --border-radius-medium: 1rem;
  --border-radius-small: 0.5rem;
  --border-radius-extra-small: 0.25rem;

  /* Padding */
  --padding-default: 1rem;
  --padding-small: 0.5rem;
  --padding-large: 3rem;
  --padding-extra-large: 6rem;

  /* Font Sizes */
  --font-size-text-body: 1.125rem;
  --font-size-heading: 2.1875rem;
  --font-size-subheading: 1.875rem;
  --font-size-medium-font: 1.5rem;
  --font-size-normal-font: 1.125rem;
  --font-size-small-font: 0.875rem;

  /* Margin */
  --margin-small: 0.5rem;
}

body {
  background-color: rgb(244, 255, 248) !important;
  /* padding-top: 3.5em; */
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* Modal Fade CSS */
.modal.fade .modal-dialog {
  transition: transform 0.5s ease-in-out !important;
}
/*Scrollbar*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  transition: width 0.3s;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#333333),
    to(#000000),
    color-stop(0.6, #666666)
  );
  transition: background-color 0.3s, width 0.3s;
}
/* Hover effect */
::-webkit-scrollbar:hover {
  width: 14px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}
